header {
    position: relative;
    overflow: hidden;
    color: var(--text-light); 
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    z-index: 1;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

header p {
    font-size: 1.25rem;
    position: relative;
    z-index: 2;
}

.select {
    background-color: var(--background-more-dark);
    border: 2px solid var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out, border-color 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(0, 77, 64, 0.6);
    outline: none;
}

.select:hover {
    border-color: var(--primary-color);
    transition: all 0.3s ease;
}

.select option {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.input {
    background-color: var(--background-more-dark);
    color: var(--text-light) !important;
    border: 2px solid var(--primary-color);
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out, border-color 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; 
}

.input:focus {
    border-color: var(--primary-color);
    background-color: var(--background-more-dark);
    box-shadow: 0 0 8px rgba(0, 77, 64, 0.6);
    outline: none;
}

.input:hover {
    border-color: var(--primary-color);
    transition: all 0.3s ease;
}   

.input::placeholder {
    color: var(--text-light); 
}

.input-group .btn i{
    color: white;
}

.input-group .btn {
    border: 0;
    background-color: var(--primary-color);
    color: white;
    outline: none !important; 
}

.input-group,
.input-group .botao:focus, .btn:focus{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(0, 77, 64, 0.6);
    outline: none !important;
}

.botao:active, .btn:active {
    transform: scale(0.98);
    box-shadow: none !important; 
    outline: none !important;
}

.botao:hover, .btn:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color) !important;
    box-shadow: 0 0 8px rgba(0, 77, 64, 0.6);
    outline: none;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light); 
    text-align: center;
    padding: 5px;
    width: 100%;
}

